@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  overflow-x: hidden;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 20px;
  background: #04011C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: none;
}

/* Home counter */
@keyframes count {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.counter{
  animation: count 2s ease-in-out forwards;
}

/* Slick */
/* .slick-initialized .slick-slide{
  display: flex !important;
  justify-content: center;
  padding: 0 15px;
}
.slick-prev, .slick-next{
  z-index: 1;
}
.slick-prev{
  left: -10px !important;
}
.slick-next{
  right: -10px !important;
} */

/* News */
@keyframes newsInfo {
  0%{
    opacity: 1;
    width: 100%;
    flex: 1 1 0%;
  }
  50%{
    opacity: 0;
    width: 0;
    flex: 0 0 0%;
  }
  100%{
    opacity: 0;
    width: 0;
    flex: 0 0 0%;
    visibility: collapse;
    /* display: none; */
  }
}
.news-info{
  transition: all .4s;
  animation: newsInfo 0.4s ease 0s 1 normal forwards;
}
.news-item{
  transition: all .4s;
}

.contacts__title {
  background: #04011c;
  background-size: 100%;
  color: white;
  /* letter-spacing: .2em; */
  line-height: 50px;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  text-shadow: .07em .07em 0 #04011c, .1em .1em 0 #1EE0E1;
  margin-bottom: 40px;
}

/* Media queries */
@media(min-width: 480px){
  /* .slick-prev{
    left: 15px !important;
  }
  .slick-next{
    right: 15px !important;
  } */
}

@media(min-width: 640px){
  .contacts__title{
    max-width: 320px;
    font-size: 52px;
    line-height: 70px;
  }
}

@media(min-width: 768px){
  /* .slick-prev{
    left: 19% !important;
  }
  .slick-next{
    right: 19% !important;
  } */
}

@media(min-width: 1024px){
  .contacts__title{
    font-size: 72px;
    margin-bottom: 40px;
    line-height: 100px;
  }
}
/* .slick-prev:before, .slick-next:before{
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  z-index: 10000000 !important;
}
.slick-next:before{
  right: 15px;
}
.slick-prev:before{
  left: 15px;
} */
/* @media(min-width: 1536){
  .Button{
    padding: 10px 40px;
  }
} */
/* sm - 640
md - 768
lg - 1024
xl - 1280
2xl - 1536 */

/* text-xs - 12px
text-sm - 14px
text-base - 16px
text-lg - 18px
text-xl - 20px
text-2xl - 24px
text-3xl - 30px
text-4xl - 36px
text-5xl - 48px
text-6xl - 60px
... */
